<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>autenticarSesion</servlet-name>
        <servlet-class>servlets.autenticarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autenticarNSS</servlet-name>
        <servlet-class>servlets.autenticarNSS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultaExpediente</servlet-name>
        <servlet-class>servlets.consultaExpediente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autenticarSesion</servlet-name>
        <url-pattern>/autenticarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autenticarNSS</servlet-name>
        <url-pattern>/autenticarNSS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaExpediente</servlet-name>
        <url-pattern>/consultaExpediente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
